<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mb.scrapbook.lib.base">

    <application>
        <!-- 截图使用 -->
        <activity android:name=".mvvm.view.ScreenshotActivity" android:exported="true"
            android:theme="@style/TransparentTheme" android:launchMode="singleInstance"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize" />
    </application>

</manifest>